In [2]:
print("Hello")

Hello

for i in range(1,6):
    for j in range(1,6):
        print(j+" ")
    print("\n")

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [8]:
for i in range(1,6):
    for j in range(1,6-i+1):
        print(i,end=" ")
    print("\n")

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [15]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print("\n")

        *

      * *

    * * *

  * * * *

* * * * *

In [2]:
# fibonacci series
a=0
b=1
print(a,end=" ")
print(b,end=" ")
while b<30:
    b=a+b
    print(b,end=" ")
    a=b-a

0 1 1 2 3 5 8 13 21 34

In [11]:
# prime 
a=2
n=96
c=False
while(a**2<=n):
    if(n%a==0):
        c=True
    a+=1
if(c):
    print(n," not a prime number")
else:
    print(n," is a prime number")

96  not a prime number

In [17]:
# palindrom
a=12321
c=a
b=0
while(a>0):
    b=b*10+a%10
    a=a//10

if(b==c):
    print(True)
else:
    print(False)

True

In [21]:
A="OOTD.YOLO.ASAP.BRB.GTG.OTW"
s=A.split(".")
print(s)

s=A.replace("."," ")
print(s)

c=s.count("OT")
print(c)

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']
OOTD YOLO ASAP BRB GTG OTW
2

In [24]:
a=input("Enter your name")
print(a[::-1])
print(a.isdigit())
print(a.istitle())

mavihS
False
True

In [25]:
# palindrom
a="abcba"
print(a==a[::-1])

True

List 
mutable, collection of multiple data type

In [6]:
A=["Ross","Rachel","Monica","Joe"]
b=A[0]
A[0]=A[-1]
A[-1]=b
#A[0],A[-1]=A[-1],A[0]

[print(i) for i in A]

A.insert(2,10)
A.pop(3)

print("After delete")
for i in range(len(A)):
    print(A[i])

Joe
Rachel
Monica
Ross
After delete
Joe
Rachel
10
Ross

In [19]:
import sys
B=[13,7,12,10]
c=1
for i in range(len(A)):
    c*=B[i]

print(c)

c = -sys.maxsize - 1
for i in range(len(B)):
    if B[i]>c:
        c=B[i]
print(c)

c=sys.maxsize
for i in range(len(B)):
    if B[i]<c:
        c=B[i]
print(c)

10920
13
7

Tuple 
collection of ordered, un-mutable data,() not compulsory

A="ABC" or ("ABC")   it is a string

A=("ABC",)     it is a tuple

for doing operations we convert tuple into list to convert it into mutable data type

In [20]:
A=("Shiv","Krishna","Vishnu")
A=list(A)
A.append("Hanuman")
A=tuple(A)
print(A)

('Shiv', 'Krishna', 'Vishnu', 'Hanuman')

Dictionary
Write data in the form of key value pair

In [22]:
Employee={"Name":"Shivam","Age":22, "City":"Delhi"}
print(Employee["Age"])

for i in Employee:
    print(i, ":", Employee[i])

for i in Employee.values():
    print(i)

for i in Employee.keys():
    print(i,":",Employee[i])

for i,j in Employee.items():
    print(i,":",j)

22
Name : Shivam
Age : 22
City : Delhi
Shivam
22
Delhi
Name : Shivam
Age : 22
City : Delhi
Name : Shivam
Age : 22
City : Delhi

In [28]:
A={"c":12,"b":2,"a":1}
print(sorted(A.values()))
print(sorted(A.keys()))

[1, 2, 12]
['a', 'b', 'c']

In [27]:
A={}
for i in range(1,13):
    A[i]=i**2

print(A)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

In [29]:
#product of all values
A={"c":12,"b":2,"a":1}
mul=1
for i in A:
    mul*=A[i]

print(mul)

24

Set 
un-ordered, unique, mutable

In [30]:
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [33]:
#find common in between 3 list
A=[1,2,3,4,5]
B=[7,6,3,2]
C=[3,2,9,8]

print(set(A) & set(B) & set(C))
A.remove(5)

{2, 3}